[submodule "project/Hazel/vendor/glm"]
	path = project/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "project/Hazel/vendor/glfw"]
	path = project/Hazel/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "project/Hazel/vendor/spdlog"]
	path = project/Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "project/Hazel/vendor/msdf-atlas-gen"]
	path = project/Hazel/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
