# Binaries
**/bin/
!vendor/premake/bin/
**/bin-int/

project/Hazel/vendor/*
project/Hazel/src/Hazel/Graphics/Renderer/UI/*
project/Client/vendor/*

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
